.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height:50px !important;
}

.dropdown-toggle {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
}
.modal-wide .modal-dialog {
	width:80% !important;
}

.modal-content .box {
	border-left:1px solid #f4f4f4;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
	width:1px !important;
	border:none !important;
}
#map_canvas {
 height: 350px;
 width: 98%;
}

#map_canvasmap {
 height: 350px;
 width: 98%;
}

.input_size{width: 280px !important;}

/* Profile Pic change */
.user-profile-pic {
	position:relative;
}
.profile-user-img {
	height:150px;
	width:150px;
}
.change-profile-pic {
	position:absolute;
	width:150px;
	background-color:rgba(0,0,0,0.5);
	height:150px;
	border-radius:200px;
	left:calc(50% - 75px);
	bottom:0;
	
	display:none;
}
.user-profile-pic:hover .change-profile-pic {
	display:block;
}
.uploadFile {
	background: url('../images/whitecam.png') no-repeat;
	height: 32px;
	width: 32px;
	position:absolute;
	left: -webkit-calc(50% - 16px);
	left: calc(50% - 16px);
	bottom:calc(50% - 16px);
	overflow: hidden;
	cursor: pointer;
}
.uploadFile input {
	filter: alpha(opacity=0);
	opacity: 0;
	margin-left: -110px;
}
.custom-file-input {
	height: 35px;
	cursor: pointer;
}
.left-sid{max-width: 52px !important;border-radius: 50%;}

.box_sizes{width: 100% !important;}

.sleeper{
	background-image: url(./images/1.png);background-repeat: no-repeat;height: 23px;
  width: 34px;
  margin-top:10px;
  height: 41px;
  }.seater{
   background-image: url(./images/4.png);background-repeat: no-repeat;height: 23px;
   width: 34px;
   margin-top:10px;
   height: 41px;
   }.sleeper1{
     background-image: url(../images/empty.png);background-repeat: no-repeat;height: 23px;
     width: 34px;
     margin-top:10px;
     height: 41px;
   }

   .sub_buttons{padding-top:23px !important;}
   .well {
     position: absolute;
     z-index: 1;
     margin-top: -30px;
     height: 30px;
     min-height: 30px;
     padding: 0 6.5px;
     left: 25%;
   }

   .thumbnailss {
     list-style:none;
   }

   /******SEAT BLOCK CSS********/
   .sleeper {
     background-image: url(../images/1.png);
     background-repeat: no-repeat;
     height: 23px;
     width: 34px;
     margin-top: 10px;
     height: 39px;
     cursor: pointer;
   }
   .ssleeper {
     background-image: url(../images/3.png);
     background-repeat: no-repeat;
     height: 23px;
     width: 34px;
     margin-top: 10px;
     height: 39px;
   }

   .bsleeper {
     background-image: url(../images/3.png);
     background-repeat: no-repeat;
     height: 23px;
     width: 34px;
     margin-top: 10px;
     height: 39px;
   }

   .selectedsleeper {
     background-image: url(../images/2.png);
     background-repeat: no-repeat;
     height: 23px;
     width: 34px;
     margin-top: 10px;
     height: 39px;
     cursor: pointer;
   }
   .selectedsleeper1{
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 34px;
    margin-top: 10px;
    height: 39px;
    cursor: pointer;
  }

  .seater {
   background-image: url(../images/4.png);
   background-repeat: no-repeat;
   height: 23px;
   width: 34px;
   margin-top: 10px;
   height: 27px;
   cursor: pointer;
 }

 .sseater {
   background-image: url(../images/7.png);
   background-repeat: no-repeat;
   height: 23px;
   width: 34px;
   margin-top: 10px;
   height: 39px;
 }
 .bseater {
   background-image: url(../images/7.png);
   background-repeat: no-repeat;
   height: 23px;
   width: 34px;
   margin-top: 10px;
   height: 39px;
 }

 /*.ssseater{
	   background-image: url(../images/4.png);
     background-repeat: no-repeat;
     height: 23px;
     width: 34px;
     margin-top: 10px;
     height: 27px;
     cursor: pointer;
     }*/
     .selectedseat {
       background-image: url(../images/6.png);
       /*background-image: url(../images/6.png);*/
       background-repeat: no-repeat;
       height: 23px;
       width: 34px;
       margin-top: 10px;
       height: 27px;
       cursor: pointer;
     }
     .sleeper1 {
       background-image: url(../images/empty.png);
       background-repeat: no-repeat;
       height: 23px;
       width: 34px;
       margin-top: 10px;
       height: 21px;
     }
     /******SEAT BLOCK CSS********/

     .prevent-click {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: black;
    }

    .hide {
      display:none !important;
    }

    .loader{
     position: absolute;
     top: 0px;
     right: 0px;
     bottom: 0px;
     left: 0px;
     text-align: center;
     background-image: url(../images/loader.gif);
     background-size: 5%;
     background-position: center;
     background-repeat: no-repeat;
     background-color: rgba(0,0,0,0.56);
   }

   .height_200{
    height: 200px !important;
  }

  .cpoint{
    cursor: pointer !important;
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .drag-box {
    float: left;
    width: 100%;
    min-height: 28px;
    margin: 2px;
    border: 1px solid #A8A8A8;
  }
  .border-cls {
    border: 1px solid #e0dbdb;
  }

  .headtag-td {
    padding: 5px;
    width: 50%;
  }

  .header-tag {
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 0px 10px;
    display: inline-block;
    margin: 2px;
    background: #f5f5f573;
  }

  .header-tag-box {
    width:100%;
    min-height:32px;
    max-height:96px;
    border: 1px solid #dfdbdb;
    padding: 2px;
    overflow-y: scroll;
  }

  .tagSelected {
    background-color: #69d41873;
  }

  .clear {
    clear: both !important;
  }

  .btn-mapping {
    text-align: center;
    padding: 15px;
  }

  .tr-cls {
    height: 43px;
  }

  .disable-block {
    pointer-events: none;
    opacity: 0.5;
  }

  .padTop10 {
    padding-top:10px !important;
  }

  .padTop15 {
    padding-top:15px !important;
  }
  
  .padTop12 {
    padding-top:12px !important;
  }

  .marginTop37 {
    margin-top: 37px !important;
  }

  .padTop30{
    padding-top: 30px;
  }

  .marginTop10 {
    margin-top: 10px !important;
  }

  .padLeft10 {
    padding-left:10px !important;
  }

  .padLeft40 {
    padding-left: 40px !important;
  }

  .padLeft15 {
    padding-left:15px !important;
  }
  
  /* .padBottom10 {
    padding-bottom:10px !important;
  }

  .padBottom15 {
    padding-bottom:15px !important;
  }

  .padBottom20 {
    padding-bottom:20px !important;
  }

  .padBottom30 {
    padding-bottom:30px !important;
  }

  .padTop0 {
    padding-top:0px !important;
  }

  .padTop5 {
    padding-top:5px !important;
  }

  .padTop10 {
    padding-top:10px !important;
  }

  .padTop12 {
    padding-top:12px !important;
  }

  .padTop15 {
    padding-top:15px !important;
  }

  .padTop20 {
    padding-top:20px !important;
  }

  .padTop300{
    padding-top: 300px;
  }

  .padRight-5p {
    padding-right:5% !important;
  }

  .padRight-8p {
    padding-right:8% !important;
  }

  .padRight10 {
    padding-right:10px !important;
  }

  .padRight20 {
    padding-right:20px !important;
  }

  .padLeft20 {
    padding-left:20px !important;
  }

  .padLeft30 {
    padding-left: 30px !important;
  }

  .padLeft50 {
    padding-left: 50px !important;
  }

  .padUnset {
    padding-left: unset !important;
  }

  .dispInLine {
    display: inline-block !important;
  }

  .textCenterAlign {
    text-align:center;
  }

  .padAll-10 {
    padding: 10px;
  }

  .padAll-20 {
    padding: 20px;
  } */

  .vechile-body {
    background-color:#f7f7f7; 
    font-size: 18px; 
    padding: 7px 10px; 
    margin-top: 0;
  }

  .border {
    border: 1px solid #e2e2e2;
  }

  .float-right {
    float: right;
  }

  .disp-block {
    display:block !important;
  }

  .margin-all {
    margin: 5px;
  }

  .marginBottom-5 {
    margin-bottom: 5px;
  }

  .marginBottom-10 {
    margin-bottom: 10px;
  }

  .marginTop-8 {
    margin-top: 8px;
  }

  .marginTop5 {
    margin-top: 5px;
  }

  .marginTop30 {
    margin-top: 30px;
  }

  .marginTop23 {
    margin-top: 23px;
  }

  .marginLeft15 {
    margin-left: 15px !important;
  }

  .noSubTypeMsg {
    color: #338419;
    margin-top: 32px;
  }

  .fav-add-icon {
    font-size: 2em;
    color: #5a9f5a;
  }

  .fav-rem-icon {
    font-size: 2em;
    color: #c61a1a;
  }

  .list_custom{
    width:100%;
    padding: 0px;
    margin:0px;
    border-bottom: 1px solid #e2e2e2;
  }

  .list_custom li{
    display: inline-block;
    text-align: left;
    padding-left: 15px;
  }

  .issue-box {
    vertical-align: top;
    margin-top: 10px !important;
  }

  .custom-textarea {
    border: none;
    background-color: #fff;
  }

  .custom-textarea-style {
    margin: 0px;
    width: 310px;
    max-width: 310px;
    height: 70px;
  }

  .custom-input {
    border: none;
    background-color: #fff;
  }

  .custom-input-style {
    width: 60px;
    font-size: large;
    padding-left: 5px;
  }

  .small-icon {
    width: auto;
    height: 50px;
    max-height: 50px;
    max-width: 89px;
  }

  .subIssueCntr {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
  }

  .dropZoneContainer{
    position: relative;
    display: inline-block;
  }

  .close_custom{
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    background: #000;
    font-size: 13px;
    top: -5px;
    right: -1px;
    color: #fff;
    border-radius: 50%;
    z-index: 99;
  }

  .dropZoneOverlay, .FileUpload {
    width: 250px;
    height: 250px;
  }

  .multiDropZoneOverlay, .multiFileUpload {
    width: 50px;
    height: 50px;
  }

  .dropZoneOverlay {
    border: dotted 1px;
    font-family: cursive;
    color: #040404;
    text-align: center;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
  }

  .multiDropZoneOverlay {
    border: dotted 1px;
    font-family: cursive;
    color: #040404;
    text-align: center;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
  }

  .FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
  }

  .multiFileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
  }

  .viewLayout {
    padding-bottom: 260px;
    margin-top: 20px;
  }

  .width200{
    width: 200px !important;
  }

  .padAll5{
    padding: 5px;
  }

  .padHead{
    padding-left: 0px;
    padding-top: 0px;
  }

  .truncateText{
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
  }

  .truncateText:hover{
      overflow: visible; 
      white-space: normal;
      height:auto;  /* just added this line */
  }

  .lineBreak{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .layoutDivHead{
    margin-top: 10px;
  }

  .hrClass{
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .green {
    color: #2d9652 !important;
  }

  .errorBorder {
    border: 1px solid #ff0000 !important;
  }
  
  .datepicker{
    z-index: 9999 !important;
  }
  
  .disable-div {
    -webkit-filter: blur(1px) !important;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }