/*
  Site Name: TimeOut Admin
  URI: http:
  Description: This is the theme css for TimeOut Admin
  Version: 1.0
  Author: Amal-Techware Solution
  Author URI:
  Tags:

	---------------------------
	THEME STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
    01. LOGIN-PAGE
    02. SIDE-MENU



*/

/*-----------------

01. LOGIN-PAGE

-----------------*/


.login_overlay{
    background: rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.login_overlay h1{
    text-align: center;
    color: #fff;
    font-size: 58px;
    font-weight:300;
     font-family: sinhala;
    padding-top: 5%;
    padding-bottom: 5%;
    margin:0px;
}


.login_left{
    border-right:1px solid #94d6f5;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.login_slider_quotes{
    padding-top: 60px;
}
.login_slider_quotes ul{
    padding: 0px;
    margin:0px;
}
.login_slider_quotes ul li{
    padding: 0px;
    margin:0px;
    list-style: none;
}
.login_slider_quotes ul li p{
    padding: 0px;
    margin:0px;
    color:#fff;
    font-size:20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    line-height: 30px;
}
.login_slider_quotes ul li h6{
    padding: 0px;
    margin:0px;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

}

.login_slider_quotes .slick-dots{
    width: 100%;
    padding-top: 25px;
}

.login_slider_quotes .slick-dots li{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.login_slider_quotes .slick-dots li button{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: #000;
    content: none;

    display: none;
}

.login_slider_quotes .slick-dots .slick-active{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: #fff !important;
}
.login_logo{
}
.login_logo img{
    width: 120px;
}
.login_right{
    width: 100%;

}

.login_container_panel{
    background: #ffffff;
    border-radius:0px;
    width:400px;
    float: right;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.login_container_panel h3{
    text-align: center;
    color:#000;
    font-family: sinhala;
    font-weight: 600;
    margin:0px;
    padding:0px;
    font-size:45px;
    padding-top: 10px;
}
.login_container_panel hr{
  width: 25px;
  margin:0 auto;
  height:0px;
  border:2px solid #000;
  border-radius:20px;
  margin-top:10px;
  margin-bottom:30px;
}
.login_row{
    width: 100%;
    margin-bottom: 10px;
    margin-top:15px;
}

.login_row .form-control-feedback{
    top:7px;
}
.login_input{
    width: 100%;
    height: 50px;
    background: #ececec;
    border-radius:0px;
    border:none;
    padding-left:20px;
    font-size: 20px;
}
.login_input:focus{
    outline: none;
}
.login_input::placeholder{
    color:#c3c3c3;
}

.login_btn{
    width: 100%;
    height:50px;
    color: #fff;
    background: #000;
    border-radius: 0px;
    position: relative;
    font-weight:400;
    padding: 3px;
    border:none;
    font-size: 30px;
    font-family: sinhala;
}

.login_btn:hover{
    background: #000;
}

.login_container_panel p{
    color: #fff;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}


/*-----------------

02. SIDE-MENU

-----------------*/


.sidebar{

}
.logo{
    background: transparent !important;

}
.logo:hover{
    background: transparent !important;
}
.logo img{
    height: 45px;

}


.btn{
    border-radius: 0px !important;
    border:none !important;

}

.btn:focus{
    outline:none;
}

.btn:hover{
    outline:none;
}


.btn .fa{
    margin-right: 5px;
}


.box-body table thead tr th{
    font-size: 20px;
    font-weight: 500;
}

.box-body table tbody tr th{
    font-size: 14px;
    font-weight: 400;
}


.box_content{

}

.content-header h1{
    font-family: sinhala;
    font-weight: 500 !important;
    font-size: 35px;
}

.box-title{
  font-family: sinhala;
  font-size: 30px !important;
  padding-left: 20px !important;
}

.user-panel{
  padding-top: 30px;
padding-bottom: 30px;

}

.user-panel .image{
  float: left;
}

.user-panel .info{
  float: left;
  position: inherit;
  left:0px;

}

.sidebar-menu li img{
  height: 20px;
  margin-right: 10px;
}

.qr_code{
    height: 100px;
}

.view_booking_modal{


}

.view_booking_modal .col-md-12 .row{
    margin-top: 5px; 
    margin-bottom: 5px;   
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom:10px;
}

.view_booking_modal .col-md-12 .row .row{
    margin-bottom: 0px;  
    margin-top: 0px;
    border:none; 
    padding-top: 0px;
    padding-bottom: 0px;
}