/*
  Site Name: TimeOut Admin
  URI: http:
  Description: This is the theme css for TimeOut Admin
  Version: 1.0
  Author: Amal-Techware Solution
  Author URI:
  Tags:

	---------------------------
	THEME STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
	 01. FONTS-N-SIZES
	 02. FONTS-COLOR
	 03. THEMES-N-BACKGROUNDS
	 04. SPACING-N-POSITIONS
	 05. ALIGMENTS
     06. ALERTS-N-MESSAGES
     07. BODY-STRUCTURE
     08. GET-MDL-CUSTOMIZATION


*/


/*-------------------------------

01. FONTS-N-SIZES

--------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@font-face {
    font-family: sinhala;
    src: url("../fonts/SinhalaMN.woff");
  }

  @font-face {
    font-family: riesling;
    src: url("../fonts/riesling.ttf");
  }

  @font-face {
    font-family: shree;
    src: url("../fonts/Shree714.ttc");
  }


*::-webkit-scrollbar {
    display: none;
}

.no-scroll .scroll-content {
    overflow: hidden;
}



a {
    text-decoration: none !important;
}

html,
body {
}

.modal-full {
    min-width: 100%;
    margin: 0 !important;
    height: 100vh;
    
}

.modal-full .modal-content {
    height: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.dash_content {
    width: calc(100% - 230px);
    float: right;
}


/*-------------------------------

02. FONTS-SETTINGS

--------------------------------*/

.text_color_white {
    color: #fff !important;
}

.text_color_theme {
    color: #D94350 !important;
}

.font_size_xs {
    font-size: 12px !important;
}

.font_size_sm {
    font-size: 14px !important;
}

.font_size_md {
    font-size: 16px !important;
}

.font_size_lg {
    font-size: 18px !important;
}

.font_size_xl {
    font-size: 20px !important;
}

.font_size_vl {
    font-size: 35px !important;
}

.font_weight300 {
    font-weight: 300 !important;
}

.font_weight400 {
    font-weight: 400 !important;
}

.font_weight500 {
    font-weight: 500 !important;
}

.font_weight600 {
    font-weight: 600 !important;
}


/*-------------------------------

03. THEMES-N-BACKGROUNDS

--------------------------------*/

.theme_background {
    background-size: cover !important;
    background-position: center !important;
}

.theme_transparent {
    background: transparent !important;
}

.theme_white {
    background-color: #f7f8fd !important;
}

.theme_off_white {
    background-color: #f4f4f4 !important;
}

.theme_dark_transparent {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.theme_white_transparent {
    background-color: rgba(243, 243, 243, 0.6) !important;
}

.primary_background {
    background: #D94350;
}

.tile {
    box-shadow: none !important;
}

.horizontal .steps-indicator {
    display: none !important;
}


/*-------------------------------

04. SPACING-N-POSITIONS

--------------------------------*/

.width25 {
    width: 25% !important;
}

.width50 {
    width: 50% !important;
}

.width75 {
    width: 75% !important;
}

.widthFull {
    width: 100% !important;
}

.widthAuto {
    width: auto !important;
}

.height25 {
    height: 25% !important;
}

.height50 {
    height: 50% !important;
}

.height75 {
    width: 75% !important;
}

.heightFull {
    height: 100% !important;
}

.heightAuto {
    height: auto !important;
}

.p0 {
    padding: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.p10 {
    padding: 10px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.m0 {
    margin: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mAuto {
    margin: 0 auto !important;
}

.clear {
    clear: both !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.borderNone {
    border: none !important;
}


/*-------------------------------

05. ALIGMENTS

--------------------------------*/

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}


/*-------------------------------

06. ALERTS-N-MESSAGES

--------------------------------*/

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-weight: 600;
    transition: all 0.5s ease;
    border-bottom: 0px;
    left: 0px;
    right: 0px;
}

.warning {
    color: #fff;
    background-color: #8a6d3b;
}

.success {
    color: #fff;
    background-color: #3c763d;
}

.error {
    color: #fff;
    background-color: #a94442;
}

.s_error {
    padding-bottom: 10px;
}

.s_error .s_validation {
    background: #990000 !important;
    padding: 5px !important;
    position: relative;
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 0px;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    padding-right: 10px !important;
    padding-left: 10px !important;
    font-weight: 300;
}

.s_error .s_validation:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #990000;
    position: absolute;
    top: -8px;
    left: 10px;
}

.s_label:after {
    color: #990000 !important;
}

.s_error input,
.c-error select,
.s_error .s_choice-option {
    background: #fff0f4;
    color: #990000;
}

.s_error input,
.s_error select {
    border: 1px solid #990000 !important;
}


/*-------------------------------

07. BODY-STRUCTURE

--------------------------------*/

section.module.parallax {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}


